.cn-marked {
    background: #ffe;
    border: 1px solid #FF6666;
    /*box-shadow: inset 0 0 10px #FF6666;*/
}

.cn-selected {
    border: 1px solid #99FF99;
}

#codenote .code-note {
    text-align: left;
    background: #9DA3A9;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 600px;
    width: 190px;
    padding: 5px 15px 10px 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-style: normal;
    display: block;
    border-radius: 5px;
    z-index: 9999;
 }

#codenote .code-note-message {
    text-align: center;
    background: #787B7F;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 190px;
    padding: 10px 15px 10px 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-style: normal;
    display: block;
    border-radius: 5px;
    z-index: 10000;    
}

#codenote .code-note .cn-head,
#codenote .code-note-message .cn-head {
  color: #eeeded;  
}

#codenote .code-note .cn-form {
   height: 80%; 
}

#codenote .code-note .clear-search {
    cursor: pointer;
}

#codenote .code-note .cn-tags {
    height: 200px;
    overflow: auto;
}

#codenote .code-note .cn-tag {
  margin-top: 5px;
  margin-right: 5px;
}