.cn-marked {
    background: #ffe;
    border: 1px solid red;
}

.cn-selected {
    border: 1px solid green;
}

.code-note {
    text-align: left;
    background: #366;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 170px;
    padding: 5px 15px 10px 15px;
    display: block;
 }

.code-note select {
    width: 168px;
    padding: 3px;
    margin-bottom: 7px;    
}

.code-note input {
    width: 160px;
    padding: 4px;
    margin-bottom: 7px;
    border-width: 0px;
}
.code-note h1 {
    color: #ACE600;
    padding: 5px 0px;
    text-align: left;
    font-size: 1.7em;
}

.code-note button {
    color: #366;
    padding: 7px 10px;
    background: #ACE600;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width: 0px;
}

.code-note .tag {
    color: #FFFFFF;
    display: inline-block;
    padding: 0 3px 0 4px;
    background: #028E9B;
    height: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width: 0px;   
}

#selectedTags {
    display: block;
    margin: 9px -3px 9px -3px;
    max-height: 54px;
    overflow-y: auto;
}

/*.tag {
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin: 3px 3px 4px 3px;
    padding: 0 3px 0 4px;
}

.tag.gray {
    background-color: #8B8E94;
    border: 1px solid #66696E;
}

.tag .lozenge {
    background-size: 9px 9px;
    cursor: pointer;
    height: 9px;
    margin-left: 2px;
    position: relative;
    top: -4px;
    visibility: hidden;
    width: 9px;
}*/